
/* CUSTOM-FONT */

@import url('../css/owl-carousel.css');
body{margin:0; padding:0;font-family: 'Karla'; font-size: 15px;color:#373737}
h1, h3, h4, h5, h6 {
  font-family: "Karla", Helvetica, Arial, sans-serif;
}
p{font-size:15px;
margin:0 0 0 0}


h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-transform: uppercase;
}
h3.karla-Font {
  font-size: 24px;
  font-family: 'Karla' !important;
  font-weight: bold;
  text-transform: uppercase;
}


h4 {
  font-size: 18px;
}

/* ==================================================
  General
  ================================================== */
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* ==================================================
  Elements
  ================================================== */

section {
  padding: 73px 0;
}


a:hover {
  text-decoration: none !important;
}

.hero{
  padding:55px 0;
}

.container{
  max-width: 1140px;
}

/* ---- */
.ic-btn{
  padding:14px 28px;
  background:#202020;
  color:#fff;
  @include transition-btn;
  border:none;
  outline: none;
  text-transform: uppercase;
}
.ic-btn:hover{
  background:$primary;
  color:#fff;
}